<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.7.1.min(1).js' %}"></script>
<script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">注册</h1>
            <form id='myform'>
                {% csrf_token %}
                {% for form in form_obj %}
                    <div class="form-group">
                        <label for="{{ form.auto_id }}">{{ form.label }}</label>
                        {{ form }}
                        <span style="color: red">{{ form.errors.0 }}</span>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="myfile">头像
                    <img src="{% static 'images/default.png' %}" width="150px" id="myimg" alt=""></label>
                    <input type="file" id="myfile" name="avatar">
                </div>
                <input type="button" class="btn btn-primary pull-right" value="注册" id="commit">
            </form>
        </div>
    </div>
</div>
<script>
    $('#myfile').change(function () {
        let filereader = new FileReader()
        let file = $(`#myfile`)[0].files[0];
        filereader.readAsDataURL(file)
        filereader.onload = function () {
            $(`#myimg`).attr('src', filereader.result)
        }
    })
    $('#commit').click(function () {
        let formData = new FormData()
        $.each($('#myform').serializeArray(),function (index , obj) {
            formData.append(obj.name,obj.value)
        })
        formData.append('avatar',$('#myfile')[0].files[0])
        $.ajax({
            url:'',
            type:'post',
            data:formData,
            contentType: false,
            processData: false,
            success:function (args) {
                if (args.code === 0) {
                    window.location.href = args.url
                }else{
                    $.each(args.msg,function (index,obj) {
                        let target_id = '#id_' + index
                        $(target_id).next().text(obj[0]).parent().addClass('has-error')
                    })
                }
            }}
        )
    })
    $('input').focus(function () {
        $(this).next().text('').parent().removeClass('has-error')})
</script>
</body>
</html>